@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/pagination";

:root {
  --background: #f8f7f0;
  --foreground: #171717;
  --primary: #5b8c51;
  --secondary: #eddd5e;
  --text-color: #404a3d;
  --text-secondary: #666666;
}

@theme inline {
  /* color */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-color: var(--text-color);
  --color-text-secondary: var(--text-secondary);
  /* font */
  --font-signika: var(--font-signika);
  --font-roboto: var(--font-roboto);
  /* typography */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.banner .swiper-pagination {
  opacity: 1 !important;
  display: block !important;
}

.banner .swiper-pagination-bullet {
  background: #000;
}
.banner .swiper-pagination-bullet-active {
  background: var(--secondary);
}

.banner .swiper-slide {
  height: 100%;
}

.banner .mySwiper {
  @apply w-full h-[400px] md:h-[500px] lg:h-[800px];
}

.banner .mySwiper .swiper-slide {
  @apply relative w-full h-full;
}

.banner .mySwiper .swiper-pagination {
  @apply !right-12 !left-auto;
}

/* Base style for all bullets */
.swiper-pagination-bullet {
  @apply size-2.5 !bg-white rounded-full transition-all duration-300 !my-4.5 sm:block!  hidden!;
  /* 'mb-4' gives vertical spacing if flex-col */
  background-color: white !important;
  opacity: 1 !important;
}

/* Active style (The Ring Effect) */
.banner .swiper-pagination-bullet-active {
  @apply bg-white;

  /* This creates the ring */
  outline: 1px solid white;
  outline-offset: 4px; /* This creates the gap */
}

.marquee-text {
  font-family: "Signika";
  font-style: normal;
  font-weight: 700;
  /* font-size: 100px;
line-height: 120px; */
  color: #f8f7f0;
  text-shadow:
    1px 1px 0px rgba(64, 74, 61, 0.5),
    -1px -1px 0px rgba(64, 74, 61, 0.5),
    1px -1px 0px rgba(64, 74, 61, 0.5),
    -1px 1px 0px rgba(64, 74, 61, 0.5),
    1px 1px 0px rgba(64, 74, 61, 0.5);
}

.marquee-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.services .mySwiper {
  /* height: auto; */
}

.sub-heading {
  @apply font-signika font-medium text-text-color text-3xl sm:text-[55px] sm:leading-15 mt-2;
}

/* Pagination container */
#services .custom-pagination .swiper-pagination {
  margin-top: 20px;
  position: relative !important;
}

/* Normal dot */
#services .custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #303030 !important; /* light gray */
  opacity: 1;
}

/* Active dot */
#services .custom-pagination .swiper-pagination-bullet-active {
  background: #eddd5e !important; /* secondary color */
  width: 20px;
  height: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

/* =============== Photo Section ================= */
#photos .mySwiper {
  transform: translateX(-15%);
}

#photos .swiper {
  overflow: visible !important;
}

/* ডিফল্ট স্লাইড স্টাইল (সবগুলো ছোট থাকবে) */
#photos .swiper-slide {
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#photos .img-wrapper {
  transition: transform 0.5s ease-in-out;
  transform: scale(0.85); 
  width: 100%;
}


#photos .swiper-slide-active .img-wrapper,
#photos .swiper-slide-next .img-wrapper {
  transform: scale(1.15) !important; 
  z-index: 10;
}

#photos .swiper-slide-active .img-wrapper {
  transform: scale(1.15) !important;
  z-index: 10;
  margin: 0 auto;
  margin-right: 35px;
}

#photos .swiper-slide-next .img-wrapper {
  margin-left: 35px;
}

#photos .swiper-slide img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  object-fit: cover;
}

@media (min-width: 1024px) {
  #photos .swiper-slide-next .img-wrapper {
    transform: scale(1.15) !important;
    z-index: 10;
    margin-left: 35px; /* আপনার দেওয়া ডেক্সটপ গ্যাপ */
  }

  #photos .swiper-slide-active .img-wrapper {
    margin-right: 35px;
    margin-left: 0;
  }

  #photos .mySwiper {
    transform: translateX(-15%);
  }
}

@media (max-width: 1023px) {
  #photos .mySwiper {
    transform: translateX(0);
  }

  #photos .swiper-slide-next .img-wrapper {
    margin-left: 0 !important;
    transform: scale(0.85) !important;
  }

    #photos .swiper-slide-active .img-wrapper {
    margin-right: 0 !important;
  }

}
